<!DOCTYPE html>
<html lang="en">


    <%- include('../partials/head.ejs') %> 

<body>



<%- include('../partials/nav.ejs') %> 

    <div class="create-blog content">
        <form action="/blogs" method="post" >
            <label for="author">Blog Author :</label>
            <input type="text" id="author" name="author" value="Anonymous" >  
            <label for="title">Blog title :</label>
            <input type="text" id="title" name="title" required >  
            <label for="snippet">Blog snippet : </label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Blog body : </label>
            <textarea name="body" id="body" cols="30" rows="10" required></textarea>
            <button type="submit">Add Blog</button>
        </form>
    </div>




    <%- include('../partials/footer.ejs') %>  


    </body>
    </html>