<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head.ejs') %> 

<body>


    <%- include('./partials/nav.ejs') %> 

    
    <div class="about content">
        <h2>OOOps, 404 Not Found</h2>
        <img src="/404.png" alt="404 png image" class="png404" >
        <p>Ohhhh COme on its a 404 page why would I make it attractive hheeehh </p>
    </div>

    <%- include('./partials/footer.ejs') %>  


</body>
</html>