<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %> 

<body>




    <%- include('./partials/nav.ejs') %> 

    
    <div class="about content">
        <h2>About us</h2>
        <p>This is the about page but you see I was slacking off haha  <br>I think this much data is enough for the About page. <br>DAmmn!!! I ran out of words...</p>
        <h3>Thanks for Visiting</h3>
    </div>

    <%- include('./partials/footer.ejs') %>  


</body>
</html>